@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
body {
  font-family: "Poppins", sans-serif;
  background-color: #f7f7f7;
}
:root {
  --main-color: #8a2a4f;
}
.navbar {
  background-color: var(--main-color);
}
.navbar .navbar-brand {
  letter-spacing: 3px;
}
.crud .form-group span {
  color: red;
}
.crud label {
  margin-bottom: 0.5rem;
  color: #19524f;
  font-size: 18px;
}
.form-control {
  margin-bottom: 1.5rem;
}
textarea {
  resize: none;
}
.crud .btn,
.crud-table .table-head {
  background-color: var(--main-color);
  color: #fff;
}
.crud .btn:hover {
  background-color: #fff;
  color: var(--main-color);
  border: 1px solid var(--main-color);
  transition: 0.4s ease-in;
}
